@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d1fbd8; /* Color verde deseado */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background); /* Usar la variable para el color de fondo */
  margin: 0; /* Eliminar márgenes predeterminados */
  padding: 0; /* Eliminar relleno predeterminado */
  font-family: Arial, Helvetica, sans-serif; /* Puedes elegir otra fuente si lo prefieres */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
